{% macro feat_entry(f) -%}
### **{{ f.name }}**

{{ f.flavor }}

{{ f | feat_body }}
{%- endmacro %}
These feats represent advanced study of Arcane magic and are available only to Arcane spellcasters.

---

{% for sc in subcategories %}
{% set outer_loop = loop %}
## {{ sc.name }}

{% if sc.blurb %}
*{{ sc.blurb }}*

{% endif -%}
{% for f in sc.feats %}
{{ feat_entry(f) }}

{% if not (outer_loop.last and loop.last) %}
---

{% endif -%}
{% endfor %}
{% endfor -%}
